.logo {
    text-align: center;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    margin-top: 50px;
}

body {
    background: linear-gradient(236deg, #e11d83, #ffffff);
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    ;
}

a {
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

.form1 {
    height: 40px;
    width: 325px;
}

.bo {
    overflow: visible;
    width: 157px;
    height: 45px;
    background: linear-gradient(279deg, #e22788, #fef7fa);
}

* {
    box-sizing: border-box;
}

header {
    width: 450px;
    height: 650px;
    border: solid #000000 1px;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 150px;
    box-shadow: 0px 0px 10px 10px #00000096;
    margin-top: 15%;
}

h1 {
    font-size: 30px;
}

.form12 {
    height: 40px;
    width: 325px;
    margin-left: 27px;
}

.form11 {
    height: 40px;
    width: 325px;
    margin-left: 19px;
}

.contaier {
    display: flex;
}

.contaier {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (MIN-WIDTH:768PX) {
    .contaier {
        width: 750PX;
    }
}

@media (MIN-WIDTH:992PX) {
    .contaier {
        width: 970PX;
    }
}

@media (MIN-WIDTH:1200PX) {
    .contaier {
        width: 1170px;
    }
}